* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: aliceblue;
  box-sizing: border-box;
}

#root {
  background-color: aliceblue;
  min-height: 100vh;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
  min-height: 240px;
}
