.logo {
  font-style: italic;
  font-family: cursive;
  color: rgb(250, 175, 0);
  font-size: 1.4em;
  text-align: left;
}

form.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.5;
}

form.actions .elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

input[name="find"] {
  color: #ddd;
}

div.btns {
  display: flex;
  justify-content: space-between;
  width: 225px;
  margin: 0 20px;
}

div.sorting {
  display: flex;
  justify-content: space-between;
  width: 310px;
}

@media (max-width: 1440px) {
  .toolbar {
    flex-direction: column;
  }

  div.logo {
    margin-bottom: 15px;
  }

  form.actions {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  form.actions .elements {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

@media (max-width: 1200px) {
  form.actions {
    padding-bottom: 15px;
  }
}

.sort-by .MuiInputBase-root fieldset {
  border-color: #aeb5d0;
}

.sort-by .MuiInputBase-root:hover fieldset {
  border-color: #fff;
}

.sort-by .MuiInputBase-root.Mui-focused fieldset {
  border-color: #fff;
}

.app-header {
  background-color: #6690b4;
  color: #fff;
}
